/**/.DS_Store
/**/*~
/**/*.aux
/main.bbl
/main.blg
/main.dvi
/main.lof
/main.log
/main.lot
/main.out
/main.pdf
/main.toc
/cover_page.dvi
/cover_page.log
/cover_page.pdf
/ISEE_abstract.dvi
/ISEE_abstract.log
/ISEE_abstract.pdf
/cover_page_copy.dvi
/cover_page_copy.log
/cover_page_copy.pdf
/fig/*.xbb