/**/.DS_Store
/**/*~
/build
/main.pdf
/main-diff*.*
/cover_page.pdf
/ISEE_abstract.pdf
/cover_page_copy.pdf

# latex's support files
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
_minted*
*.nav
*.snm
*.vrb
*.run.xml
*.dvi
*.bcf
*.tdo